/*-- -------------------------- -->
<---      Core Dark Styles      -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0rem) {
    :root {
      --dark: #082032;
      --medium: #2c394b;
      --accent: #334756;
      --bodyTextColorWhite: #fafbfc;
    }

    body.dark-mode {
        background-color: var(--medium);
    }

    body.dark-mode p,
    body.dark-mode li,
    body.dark-mode h1,
    body.dark-mode h2,
    body.dark-mode h3,
    body.dark-mode h4,
    body.dark-mode h5,
    body.dark-mode h6,
    body.dark-mode .cs-title,
    body.dark-mode .cs-text,
    body.dark-mode .cs-li {
      color: var(--bodyTextColorWhite);
    }
    

    body.dark-mode nav ul li {
        display: inline;
        margin: 5px;
        padding: 15px;
        background-color: #3173d7;
        border-radius: 20px;
        border: 2px solid  rgb(116, 183, 253);
      }
      
     body.dark-mode nav ul li a {
        font-family: 'Poppins', Arial, sans-serif;
        font-size: 18px;
        text-decoration: none;
        color: rgba(167,228,221,1);
      }

      body.dark-mode .side-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--bodyTextColorWhite)
    }

    body.dark-mode #faq-h20 {
        padding: var(--sectionPadding);
        background: var(--accent);
    }

    body.dark-mode #blog-1 .blog-item-text {
        padding: 1.25rem;
        background-color: var(--accent);
        border-radius: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        transition: background-color 0.3s;
    }
    body.dark-mode #blog-1 .h3 {
        font-size: clamp(1.25rem, 1.8vw, 1.5625rem);
        line-height: 1.2em;
        text-align: left;
        margin: 0;
        color: var(--bodyTextColorWhite);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        transition: color 0.3s;
    }

    body.dark-mode footer {
        background-color: var(--dark);
        color: var(--bodyTextColorWhite);
    }

    body.dark-mode .light {
      display: none;
    }
    body.dark-mode .dark {
      display: block !important;
    }
    .dark {
      /* class used to hide elements that only need to be seen when dark mode is enabled */
      display: none;
    }
  }
  /*-- -------------------------- -->
<---      Dark Mode Toggle      -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0rem) {
  body.dark-mode #dark-mode-toggle .cs-sun {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  body.dark-mode #dark-mode-toggle .cs-moon {
    transform: translate(-50%, -150%);
    opacity: 0;
  }
  #dark-mode-toggle {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3.75rem;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: none;
    overflow: hidden;
    padding: 0;
  }
  #dark-mode-toggle img,
  #dark-mode-toggle svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.5625rem;
    height: 1.5625rem;
    pointer-events: none;
  }
  #dark-mode-toggle .cs-moon {
    z-index: 2;
    transition: transform 0.3s,
                opacity 0.3s,
                fill 0.3s;
    fill: #000;
  }
  #dark-mode-toggle .cs-sun {
    z-index: 1;
    transform: translate(-50%, 100%);
    opacity: 0;
    transition: transform 0.3s,
                opacity 0.3s;
  }
}
/* Desktop */
@media only screen and (min-width: 64rem) {
  #dark-mode-toggle {
    position: relative;
    top: auto;
    right: auto;
    transform: none;
    margin-left: 1.875rem;
    margin-bottom: 0rem;
  }
  #dark-mode-toggle .moon {
    /* change to whatever you need */
    /* fill: #fff; */
  }
}
                                